*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    color: white;
    height: 59px;
    font-size: 18px;
}
.logo{
    padding: 0 20px;
    color: white;

}


.logo img{
    width: 32px;
}
.contentcenter{
    font-family: 'Potta One', cursive;

}
.container{
    /* background-color:red; */
    width: 60vw;
    margin: auto;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
